.container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 37px;
  padding: 0 12px;
}

.inputContainer {
  position: relative;
  width: 503px;
  max-width: 503px;
  height: 62px;
  display: flex;
  align-items: center;
}

.inputField {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-left: 16px;
  padding-right: 70px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}

.inputField::placeholder {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
}

.searchButton {
  position: absolute;
  right: 0;
  top: 0;
  width: 62px;
  height: 62px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #005cff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .inputField::placeholder {
    font-size: 20px;
  }
}