.card-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0 10px;
}
  
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 25px;
    width: 100%;
    max-width: 804px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
  
.profile-image {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid #005cff;
}
  
.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.profile-name {
    font-family: "Nunito Sans", sans-serif;
    text-transform: capitalize;
    color: #005cff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}
  
.profile-description {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #000;
}
  
@media (min-width: 768px) {
    .card-container {
      flex-direction: row;
      align-items: center;
      height: 257px;
      padding: 18px 33px;
    }
  
    .profile-image {
      width: 220px;
      height: 220px;
      margin: 0 24px 0 0;
    }
  
    .profile-info {
      align-items: flex-start;
      text-align: left;
    }
  
    .profile-name {
      font-size: 20px;
      margin-bottom: 16px;
    }
  
    .profile-description {
      font-size: 15px;
    }
}
  